# Jour 3 

## Rappel du jour 2 

* conteneurs 
    * listes 
    * indexation : [index_a_acceder]
    * slicing : [debut:fin]
* fichiers 
    * ouverture 
    * lecture / écriture 
    * fermeture 
    * utilisation des contexts managers (`with`)
* exceptions 
    * familles d'exceptions 
    * mots clés (`try` / `except` / `else` / `finally`)
* mécanismes d'import
    * on peut importer tout un module (namespace)
    * on peut importer une chose d'un module (`from ... import ...`)
    * on peut renommer (pour éviter des conflits de nommages / pour être plus explicite) avec `as`
* modules de données (json / CSV)

# Ressources intéressantes : 

## Pratiquer python
* https://snakify.org/fr/
* https://learnpython.org/en/Variables_and_Types
* https://leetcode.com/problems

## Manipulation de regexp
* https://regex101.com

In [11]:
try:
    f = open("texte.csv")
    f.read()
    print("dans try")
    1/0
except:
    print("dans except")
    1/0
else:
    print("dans else")
finally:
    print("dans finally")
    f.close()

dans try
dans except
dans finally

ZeroDivisionError: division by zero

In [12]:
with open("./variables.py") as f:
    for line in f:
        print(line, end="")

print(locals(), globals())
import numpy

print(locals(), globals())
from numpy import *

print(locals(), globals())
print(str)

In [13]:
with open("./variables.py") as f:
    print(f.readlines())

['print(locals(), globals())\n', 'import numpy\n', '\n', 'print(locals(), globals())\n', 'from numpy import *\n', '\n', 'print(locals(), globals())\n', 'print(str)\n']

In [15]:
castors = ["riri", "fifi", "loulou"]

for castor in castors:
    print(castor)

riri
fifi
loulou

In [32]:
castors = ["riri", "fifi", "loulou"]
for castor in reversed(castors):
    print(castor)

loulou
fifi
riri

In [23]:
castors = ["riri", "fifi", "loulou"]
castors.reverse()
for castor in castors:
    print(castor)

loulou
fifi
riri

In [25]:
castors = ["riri", "fifi", "loulou"]
for castor in castors[::-1]:
    print(castor)

loulou
fifi
riri

In [27]:
castors = ["riri", "fifi", "loulou"]
for castor in castors[:2]:
    print(castor)

riri
fifi

In [28]:
castors = ["riri", "fifi", "loulou"]
for castor in castors[-2:]:
    print(castor)

fifi
loulou

In [31]:
with open("./J1.ipynb"):
    for i in range(10):
        zertyuhtregjtuyhtfe = i * 5
    
print(zertyuhtregjtuyhtfe)
print(i)

45
9

In [41]:
l = "abcdefghijklmnopqrstuvwxyz"
print(f"{l[0:5]=}")
print(f"{l[:5]=}")
print(f"{l[-5:len(l)]=}")
print(f"{l[5:-10:2]=}")
print(f"{l[::2]=}")
print(f"{l[1::2]=}")

l[0:5]='abcde'
l[:5]='abcde'
l[-5:len(l)]='vwxyz'
l[5:-10:2]='fhjlnp'
l[::2]='acegikmoqsuwy'
l[1::2]='bdfhjlnprtvxz'

In [42]:

import re

regex = r"([01][0-9]|[2][0-3]):([0-5][0-9])"

test_str = ("12:59\n"
	"je me suis endormi, il était 22:54 et je me suis réveillé il était 07:52\n")

matches = re.finditer(regex, test_str)

for matchNum, match in enumerate(matches, start=1):
    
    print ("Match {matchNum} was found at {start}-{end}: {match}".format(matchNum = matchNum, start = match.start(), end = match.end(), match = match.group()))
    
    for groupNum in range(0, len(match.groups())):
        groupNum = groupNum + 1
        
        print ("Group {groupNum} found at {start}-{end}: {group}".format(groupNum = groupNum, start = match.start(groupNum), end = match.end(groupNum), group = match.group(groupNum)))

# Note: for Python 2.7 compatibility, use ur"" to prefix the regex and u"" to prefix the test string and substitution.

Match 1 was found at 0-5: 12:59
Group 1 found at 0-2: 12
Group 2 found at 3-5: 59
Match 2 was found at 35-40: 22:54
Group 1 found at 35-37: 22
Group 2 found at 38-40: 54
Match 3 was found at 73-78: 07:52
Group 1 found at 73-75: 07
Group 2 found at 76-78: 52

In [46]:
for n in reversed(range(10)):
    print(n)

9
8
7
6
5
4
3
2
1
0

In [48]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [114]:
for _, n in zip(range(10), reversed(range(10_000_000_000))):
    print(n)

9999999999
9999999998
9999999997
9999999996
9999999995
9999999994
9999999993
9999999992
9999999991
9999999990

In [51]:
5 in range(10)

True

In [52]:
"salut" in "salut les copains"

True

In [61]:
list(enumerate(["a", "b", "c"]))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [65]:
res, status_code = 3.2, True
print(res, status_code, type(res), type(status_code))

3.2 True <class 'float'> <class 'bool'>

In [66]:
a = 3.2, True
res = a[0]
status_code = a[1]

In [87]:
a, b, *_, c, d = range(10)
print(a, b, c, d, _)

0 1 8 9 [2, 3, 4, 5, 6, 7]

In [93]:
a, b, c = (1, 2, (3, 4))
print(a, b, c, d)

1 2 (3, 4) 4

In [94]:
a, *b, c = "salut les copains"
print(a, b, c)

s ['a', 'l', 'u', 't', ' ', 'l', 'e', 's', ' ', 'c', 'o', 'p', 'a', 'i', 'n'] s

In [98]:
def f():
    res = []
    for i in range(10):
        print(f"{i=}")
        res.append(i*2)
    return res

for nb in f():
    print(f"{nb=}")

i=0
i=1
i=2
i=3
i=4
i=5
i=6
i=7
i=8
i=9
nb=0
nb=2
nb=4
nb=6
nb=8
nb=10
nb=12
nb=14
nb=16
nb=18

In [101]:
def f2():
    for i in range(10):
        print(f"{i=}")
        yield i
        yield i*2
        yield i*3
        yield i*4

for nb in f2():
    print(f"{nb=}")

i=0
nb=0
nb=0
nb=0
nb=0
i=1
nb=1
nb=2
nb=3
nb=4
i=2
nb=2
nb=4
nb=6
nb=8
i=3
nb=3
nb=6
nb=9
nb=12
i=4
nb=4
nb=8
nb=12
nb=16
i=5
nb=5
nb=10
nb=15
nb=20
i=6
nb=6
nb=12
nb=18
nb=24
i=7
nb=7
nb=14
nb=21
nb=28
i=8
nb=8
nb=16
nb=24
nb=32
i=9
nb=9
nb=18
nb=27
nb=36

In [105]:
def my_enumerate(iterable):
    index = 0
    for element in iterable:
        yield (index, element)
        index += 1

In [108]:
list(my_enumerate(range(10, 20)))

[(0, 10),
 (1, 11),
 (2, 12),
 (3, 13),
 (4, 14),
 (5, 15),
 (6, 16),
 (7, 17),
 (8, 18),
 (9, 19)]

In [111]:
from collections import deque
q = deque(maxlen=10)
for line in range(20):
    print(q)
    q.append(line)
print("fini")
print(q)

deque([], maxlen=10)
deque([0], maxlen=10)
deque([0, 1], maxlen=10)
deque([0, 1, 2], maxlen=10)
deque([0, 1, 2, 3], maxlen=10)
deque([0, 1, 2, 3, 4], maxlen=10)
deque([0, 1, 2, 3, 4, 5], maxlen=10)
deque([0, 1, 2, 3, 4, 5, 6], maxlen=10)
deque([0, 1, 2, 3, 4, 5, 6, 7], maxlen=10)
deque([0, 1, 2, 3, 4, 5, 6, 7, 8], maxlen=10)
deque([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], maxlen=10)
deque([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], maxlen=10)
deque([2, 3, 4, 5, 6, 7, 8, 9, 10, 11], maxlen=10)
deque([3, 4, 5, 6, 7, 8, 9, 10, 11, 12], maxlen=10)
deque([4, 5, 6, 7, 8, 9, 10, 11, 12, 13], maxlen=10)
deque([5, 6, 7, 8, 9, 10, 11, 12, 13, 14], maxlen=10)
deque([6, 7, 8, 9, 10, 11, 12, 13, 14, 15], maxlen=10)
deque([7, 8, 9, 10, 11, 12, 13, 14, 15, 16], maxlen=10)
deque([8, 9, 10, 11, 12, 13, 14, 15, 16, 17], maxlen=10)
deque([9, 10, 11, 12, 13, 14, 15, 16, 17, 18], maxlen=10)
fini
deque([10, 11, 12, 13, 14, 15, 16, 17, 18, 19], maxlen=10)

## Rappels matin

* exercice Unix
* itérateurs 
    * générateurs / yield 
    * itertools (islice)
    * `zip` / `enumerate` 
* tuple unpacking 
* collections 
    * deque => FIFO

## Conteneurs

### Tuples

In [116]:
t = (1, 2, 3)
print(t, type(t))

(1, 2, 3) <class 'tuple'>

In [118]:
t[2] = 4

TypeError: 'tuple' object does not support item assignment

In [119]:
t = (1, 2, 4)
print(t)

(1, 2, 4)

In [137]:
formation = [
    ("Matthieu", "Falce", "MFC", "Formateur"),
    ("Pierre", "Masquelier", "NI", "stagiaire")
]
derniere_personne = formation.pop()
print(formation, derniere_personne)

[('Matthieu', 'Falce', 'MFC', 'Formateur')] ('Pierre', 'Masquelier', 'NI', 'stagiaire')

In [126]:
import numpy as np
2 * np.array([1, 2, 3])

array([2, 4, 6])

In [136]:
from collections import namedtuple

Personne = namedtuple("Personne", ["prenom", "nom", "entreprise", "status"])

formation = [
    Personne("Matthieu", "Falce", "MFC", "Formateur"),
    Personne("Pierre", "Masquelier", "NI", "stagiaire")
]

formation[0][0], formation[0].prenom

('Matthieu', 'Matthieu')

### Dictionnaires

In [145]:
d = {
    "cle": "valeur", 
    "rouge": 12, 
    "vert": 12.4, 
    "bleu": [256, -1],
}

print(d, type(d))

{'cle': 'valeur', 'rouge': 12, 'vert': 12.4, 'bleu': [256, -1]} <class 'dict'>

In [147]:
d["rouge"] = 4
print(d)

{'cle': 'valeur', 'rouge': 4, 'vert': 12.4, 'bleu': [256, -1]}

In [148]:
d["ultraviolet"] = 234

In [149]:
print(d)

{'cle': 'valeur', 'rouge': 4, 'vert': 12.4, 'bleu': [256, -1], 'ultraviolet': 234}

In [151]:
d = {}
d["cle"] = 23
d["cle"]

23

In [ ]:
sujet = "Bienvenue chez Matthieu Falce Consulting"